<div class="content">

  <app-sasko-content url="http://sasko.co.za/content/uploads/2015/08/home-feature-recipe-360x240.jpg" title="Order" link="Find Out More">
    <!--<img src="" alt="ORDER" />-->
    <p>
      SASKO flour is made with pure goodness so that you and your family can enjoy the taste and quality of homemade freshness that creates special moments of sharing and being together - everyday.
    </p>
  </app-sasko-content>
    <app-sasko-content url="http://sasko.co.za/content/uploads/2016/04/fresh-bread-in-freezer_360x240-360x240-360x240.jpg" title="Products" link="Find Out More">
      <!--<div>-->
        <!--<img src="http://sasko.co.za/content/uploads/2016/04/fresh-bread-in-freezer_360x240-360x240-360x240.jpg" alt="PRODUCTS" />-->
      <!--</div>-->
      <p class="products-copy">
        SASKO operates 14 bakeries with an urban and rural footprint throughout South Africa, supplying over a million fresh loaves via more than 51 000 delivery points daily.
      </p>
    </app-sasko-content>

    <app-sasko-content url="http://sasko.co.za/content/uploads/2015/08/hint-home-feature-360x240.jpg" title="Rewards" link="Find Out More">
      <!--<img src="http://sasko.co.za/content/uploads/2015/08/hint-home-feature-360x240.jpg" alt="REWARDS"/>-->
      <p>
        SASKO flour is made with pure goodness so that you and your family can enjoy the taste and quality of homemade freshness that creates special moments of sharing and being together - everyday.
      </p>
    </app-sasko-content>
</div>
