<div class="sasko-nav">
  <mat-toolbar>
    <div class="mat-toolbar-tools">
      <mat-button aria-label="SASKO">
        <a href="/" class="hide-title">
          <img src="http://sasko.co.za/content/themes/sasko/app/assets/img/sasko_new_logo.png" ALT="SASKO">
        </a>
      </mat-button>
      <span flex></span>
      <app-register></app-register>
    </div>
  </mat-toolbar>
  <!--<app-unemployed-counter></app-unemployed-counter>-->
</div>

<div>
  <app-sasko></app-sasko>
  <footer>
    <app-contact-details></app-contact-details>
  </footer>
</div>
